html {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  vertical-align: baseline;
}

.grid {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 800px;
}

p{
  margin: 0 auto;
	padding: 53px 0 0 0;
	border: 0;
	font-size: 18px;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.item {
  margin: 5px 5px 5px 5px;
  display: inline-block;
}

.App{
  text-align: center;
}

.switch {
  width: 50px;
}